
</main>
</body>
<footer class=" card text-center fixed-bottom">
    <p>&copy; <%= new Date().getFullYear() %> Friederike Hemsen</p>
    <p>background photo: <a href="https://pixabay.com/de/users/jarmoluk-143740/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=428549">Michal Jarmoluk</a> auf <a href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=428549">Pixabay</a></p>
</footer>
</html>
